{% extends 'layouts/default' %}

{% block page_title %}
    Добро пожаловать
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в инструмент VRCCI</h1>
    <a href="{{ route('vrcci.companies.list') }}">
        Перейти к работе
    </a>
{% endblock %}
