{% extends 'layouts/default' %}

{% block page_title %}
    Экскурсия
{% endblock %}

{% block content %}

    {% set parsedUri = app.request.uri|split('?') %}
    {% set queryString = routeParams.queryString is empty ? '' : routeParams.queryString %}
    {% set nav_title = 'excursions' %}

    {% include 'vendor.flash.message' %}

    <div class="row" style="margin-top: 10px">
        <div class="col-md-3">
            {% include('vrcci.companies::partial/company-navigation') %}
        </div>
        <div class="col-md-6">
            <h3>Экскурсия </h3>
            {% if errors.any() %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}</ul>
                </div>
            {% endif %}
            <div class="float-right">
                {% if ( excursions | length < company.preferences.excursion) %}
                    <form class="js-file-form"
                          method="post"
                          enctype="multipart/form-data"
                          action="{{ route('vrcci.excursion.upload', [company.guid]) }}">
                        {{ csrf_field() }}
                        <div class="form-group">
                            <input id="file" type="file" name="file" class="js-file-input" hidden/>
                            <button class="btn btn-primary ml-3 js-file-button"
                                    type="button"
                                    data-toggle="tooltip" data-placement="right"
                                    title="Загрузить файл">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>

                        </div>
                    </form>
                {% endif %}
            </div>
            </br>
            </br>
            {% if (not excursions | length > 0) %}
                <div class="alert alert-warning">
                    Файл экскурсии пока не загружен
                </div>
            {% else %}
                {% for excursion in excursions %}
                    <form class="form-inline js-file-form"
                          method="post"
                          enctype="multipart/form-data"
                          action="{{ route('vrcci.excursion.reupload', [excursion.guid]) }}">
                        <div class="input-group mr-3 mb-3">

                            {{ csrf_field() }}
                            <input type="file"
                                   id="file"
                                   name="file"
                                   class="js-file-input"
                                   hidden
                            />
                            <label class="col-form-label mr-3" for="filename">Имя файла</label>
                            <input type="text"
                                   class="form-control"
                                   disabled="disabled"
                                   id="filename"
                                   name="filename"
                                   value="{{ excursion.filename }}"
                                   size="80"
                                   placeholder="Имя файла">
                            <div class="input-group-append">
                                <button class="btn btn-secondary js-file-button"
                                        data-toggle="tooltip" data-placement="right"
                                        title="Перезагрузить файл"
                                        type="button">
                                    <i class="fa fa-recycle" aria-hidden="true"></i>
                                </button>
                                <a href="{{ route('vrcci.excursion.delete', [excursion.guid]) }}"
                                   class="btn btn-secondary"
                                   data-toggle="tooltip" data-placement="right"
                                   title="Удалить файл">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            {% endif %}
            <div class="clearfix"></div>
            <div class="float-left">
                <a class="btn btn-default"
                   href="{{ route('vrcci.companies.list') }}">
                    К списку компаний
                </a>
            </div>
        </div>
    </div>
    {% raw %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            (function () {
                const fileUploadingManager = (function () {
                    var selectors = {
                        jsFileInput: '.js-file-input',
                        jsFileButton: '.js-file-button',
                        jsFileForm: '.js-file-form',
                        jsOpenModal: '.js-file-open-modal',
                        jsImagePreview: '.js-image-preview',
                        jsImageModal: '.js-image-modal'
                    };

                    function doUpload(event) {
                        $(event.target)
                            .closest(selectors.jsFileForm)
                            .find(selectors.jsFileInput).click()
                    }

                    function submitFileForm(event) {
                        $(event.target).closest(selectors.jsFileForm).submit()
                    }

                    return {
                        init: function () {
                            $(selectors.jsFileButton).on('click', function (event) {
                                doUpload(event)
                            });
                            $("input[type=file]").on('change', function (event) {
                                submitFileForm(event)
                            });
                        }
                    }
                })();
                $(document).ready(function () {
                    fileUploadingManager.init();
                });
            })();
        </script>

    {% endraw %}
{% endblock %}
