{% block sidebar %}
    <nav id="sidebar">
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user mr-3"></span> Dashboard</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Friends</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
            </li>
        </ul>
    </nav>
{% endblock %}

