{% macro input(name, value, type, id, class, placeholder) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" id="{{ id|default(name) }}" value="{{ value|e }}"
           class="{{ class|default('form-control') }}" placeholder="{{ placeholder }}"/>
{% endmacro %}

{%- macro textarea(name, value, id, rows, class, placeholder) -%}
    {% spaceless %}
        <textarea name="{{ name }}" id="{{ id|default(name) }}" class="{{ class|default('form-control') }}"
                  rows="{{ rows|default('5') }}" placeholder="{{ placeholder }}">{{ value|e }}</textarea>
    {% endspaceless %}
{%- endmacro -%}

{% macro label(id, content, class) %}
    <label for="{{ id }}" class="{{ class|default('form-control-label') }}">{{ content|e }}</label>
{% endmacro %}

{% macro checkbox(name, value, id, class) %}
    <input type="checkbox" name="{{ name }}" id="{{ id|default(name) }}" class="{{ class }}"
           value="1"{% if value %} checked="checked"{% endif %} />
{% endmacro %}

{% macro select(name, values, value, id, class) %}
    <select name="{{ name }}" id="{{ id|default(name) }}" class="{{ class }}">
        {% for key, name in values %}
            <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro radio(name, values, value, id, class) %}
    {% for key, label in values %}
        <label{% if value == key %} class="selected"{% endif %} ><input type="radio" name="{{ name }}"
                                                                        id="{{ id|default(name) ~ key }}"
                                                                        value="{{ key }}"{% if value == key %} checked="checked"{% endif %} /> {{ label }}
        </label>
    {% endfor %}
{% endmacro %}
