{% extends 'layouts/default' %}

{% set title = 'Бизнес-маркет' %}
{% set nav_title = 'bm-link' %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    {% if errors.any() %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}</ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            {% include('vrcci.companies::partial/company-navigation') %}
        </div>
        <div class="col-sm-6">
            <h3>{{ title }}</h3>

            <form class="form-horizontal"
                  action="{{  route('vrcci.company-bmlink.set', [company.guid]) }}"
                  method="post">
                <fieldset>
                    <div class="form-group">
                        <div class="js-import-form-error-block" style="display: none"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="bmLink">Ссылка на Бизнес-маркет</label>
                        <div class="col-sm-10">
                            <input id="bmLink"
                                   class="form-control"
                                   placeholder="Ссылка на Бизнес-маркет"
                                   type="text"
                                   name="bmLink"
                                   value="{{ company.bmLink ?: old('bmLink') ?: '' }}"/>
                        </div>
                    </div>
                    </br>
                    <div class="float-right">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default"
                                       href="{{ route('vrcci.companies.list') }}">
                                        К списку компаний
                                    </a>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-4 float-left js-import-form-submit">
                                    <button id="submit" name="submit" class="btn btn-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
