{% extends 'layouts/default' %}

{% set formRoute = company ? route('vrcci.companies.update', [company.guid]) : route('vrcci.companies.create') %}
{% set title = company ?  'Редактировать компанию' : 'Добавить компанию' %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    <div class="row">
        <div class="col-sm-6 offset-sm-1">
            <h3>{{ title }}</h3>

            {% if errors.any() %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="form-horizontal"
                  action="{{ formRoute }}"
                  method="post">
                <fieldset>
                    <div class="form-group">
                        <div class="js-import-form-error-block" style="display: none"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="title">Наименование:</label>
                        <div class="col-sm-10">
                            <input id="title"
                                   class="form-control"
                                   placeholder="Наименование"
                                   type="text"
                                   name="title"
                                   value="{{ company.title ?: old('title') ?: ''}}"
                                   required/>
                        </div>
                    </div>
                    </br>
                    <div class="float-right">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default"
                                       href="{{ route('vrcci.companies.list') }}">
                                        К списку компаний
                                    </a>
                                </div>
                            </div>
                            {% if(company) %}
                                <div class="form-group ">
                                    <div class="col-md-4 float-left">
                                        <a href="{{ route('vrcci.companies.delete',[company.guid]) }}"
                                           class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group ">
                                <div class="col-md-4 float-left js-import-form-submit">
                                    <button id="submit" name="submit" class="btn btn-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
