{% extends 'layouts/default' %}

{% block page_title %}
    Список компаний
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    {% set parsedUri = app.request.uri|split('?') %}
    {% set queryString = routeParams.queryString is empty ? '' : routeParams.queryString %}

    {% if errors.any() %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h3>Список компаний</h3>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-9">
            <textarea id="js-buffer-url" class="js-buffer-url"
                      hidden>{{ route('api.companies.list') ~ '?access_token=' ~ access_token }}</textarea>
            <form class="form-inline" method="get">
                <div class="form-group mr-3 mb-3">
                    <input class="form-control form-control-sm" size="80"
                           id="title" name="title"
                           value="{{ app.request.get('title') }}"
                           type="text" placeholder="Поиск по наименованию"
                           aria-label="Поиск по наименованию">
                </div>
                <div class="form-group mb-3 mr-3">
                    <button id="submit" name="submit" class="btn btn-sm btn-primary">Применить
                    </button>
                </div>
                {% if parsedUri[1] %}
                    <div class="form-group mb-3 mr-3">
                        <a class='btn btn-sm btn-danger' href="{{ parsedUri[0] }}">
                            Сбросить
                        </a>
                    </div>
                {% endif %}
                <div class="mb-3 mr-3">
                    <a class="btn btn-sm btn-primary" href="{{ route('vrcci.companies.form') }}">Добавить</a>
                </div>
                <div class="float-right form-group mb-3">
                    <button id="js-copy-to-buffer"
                            name="js-copy-to-buffer"
                            class="btn btn-sm btn-secondary"
                            type="button"
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Скопировать ссылку для доступа к api компаний"
                            onclick="copyUrl()">Доступ к api
                    </button>
                </div>
            </form>

            {% if (not companies | length > 0) %}
                <div class="alert alert-warning">
                    Отсутствуют данные о компаниях
                </div>
            {% else %}
                <div class="table table--sticky-header">
                    <table id="tablePreview" class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th width="30%" scope="col">Идентификатор компании</th>
                            <th width="60%" scope="col">Наименование</th>
                            <th width="10%" scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company in companies %}
                            <tr class="js-mapping-element">
                                <td>
                                    {{ company.guid }}
                                </td>
                                <td>
                                    <a href="{{ route('vrcci.stand-model.list', [company.guid]) }}">
                                        {{ company.title }}
                                    </a>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a href="{{ route('vrcci.companies.form', [company.guid]) }}"
                                           class="btn btn-sm btn-light"
                                           data-toggle="tooltip" data-placement="right"
                                           title="Редактировать компанию">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ route('vrcci.company-preferences.get',[company.guid]) }}"
                                           class="btn btn-sm btn-light"
                                           data-toggle="tooltip"
                                           data-placement="right"
                                           title="Настройки комапнии">
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ route('vrcci.stand-model.list',[company.guid]) }}"
                                           class="btn btn-sm btn-light"
                                           data-toggle="tooltip"
                                           data-placement="right"
                                           title="Загрузить файлы">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ route('vrcci.companies.delete',[company.guid]) }}"
                                           class="btn btn-sm btn-light"
                                           data-toggle="tooltip"
                                           data-placement="right"
                                           title="Удалить компанию">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    {{ companies.links()|raw }}
                </div>
            {% endif %}
        </div>
    </div>
    {% raw %}
        <script>
            function copyUrl() {
                var copyText = document.querySelector(".js-buffer-url");
                navigator.clipboard.writeText(copyText.value)
                    .then(() => {
                        alert("Ссылка для доступа скопирована в буффер");
                    })
                    .catch(err => {
                        console.error('Could not copy text: ', err);
                    });
            }
        </script>
    {% endraw %}
{% endblock %}
