{% extends 'layouts/default' %}

{% set formRoute = company ? route('vrcci.company-preferences.set', [company.guid]) %}
{% set title =  'Настройки ограничений компании' %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    <div class="row">
        <div class="col-sm-8 offset-sm-1">
            <h3>{{ title }}</h3>

            {% if errors.any() %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="form-horizontal"
                  action="{{ formRoute }}"
                  method="post">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="certificates">Максимальное количество файлов
                            грамот/наград:</label>
                        <div class="col">
                            <input id="certificates"
                                   class="form-control"
                                   type="number"
                                   name="certificates"
                                   min="1"
                                   value="{{ company.preferences.certificates ?: old('certificates') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="certificatesFileLimit">Максимальный размер файла
                            грамоты/награды (МБ):</label>
                        <div class="col-sm-9">
                            <input id="certificatesFileLimit"
                                   class="form-control"
                                   type="number"
                                   name="certificatesFileLimit"
                                   min="1"
                                   value="{{ transform_mb(company.preferences.certificatesFileLimit) ?: old('certificatesFileLimit') ?: '' }}"/>
                        </div>
                    </div>
                    </br>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="presentations">Максимальное количество файлов
                            презентаций:</label>
                        <div class="col-sm-9">
                            <input id="presentations"
                                   class="form-control"
                                   type="number"
                                   name="presentations"
                                   min="1"
                                   value="{{ company.preferences.presentations ?: old('presentations') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="presentationsFileLimit">Общий размер файлов
                            презентаций (МБ):</label>
                        <div class="col-sm-9">
                            <input id="presentationsFileLimit"
                                   class="form-control"
                                   type="number"
                                   name="presentationsFileLimit"
                                   min="1"
                                   value="{{ transform_mb(company.preferences.presentationsFileLimit) ?: old('presentationsFileLimit') ?: '' }}"/>
                        </div>
                    </div>
                    </br>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="spheres360">Максимальное количество файлов фото
                            360:</label>
                        <div class="col-sm-9">
                            <input id="spheres360"
                                   class="form-control"
                                   type="number"
                                   name="spheres360"
                                   min="1"
                                   value="{{ company.preferences.spheres360 ?: old('spheres360') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="spheres360FileLimit">Максимальный размер файла фото
                            360 (МБ):</label>
                        <div class="col-sm-9">
                            <input id="spheres360FileLimit"
                                   class="form-control"
                                   type="number"
                                   name="spheres360FileLimit"
                                   min="1"
                                   value="{{ transform_mb(company.preferences.spheres360FileLimit) ?: old('spheres360FileLimit') ?: '' }}"/>
                        </div>
                    </div>
                    </br>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="excursion">Максимальное количество файлов
                            экскурсий:</label>
                        <div class="col-sm-9">
                            <input id="excursion"
                                   class="form-control"
                                   type="number"
                                   name="excursion"
                                   min="1"
                                   value="{{ company.preferences.excursion ?: old('excursion') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="excursionFileLimit">Максимальный размер файла
                            экскурсии (КБ):</label>
                        <div class="col-sm-9">
                            <input id="excursionFileLimit"
                                   class="form-control"
                                   type="number"
                                   name="excursionFileLimit"
                                   min="1"
                                   value="{{ company.preferences.excursionFileLimit ?: old('excursionFileLimit') ?: '' }}"/>
                        </div>
                    </div>
                    </br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="models">Максимальное количество файлов
                            3D-моделей:</label>
                        <div class="col-sm-9">
                            <input id="models"
                                   class="form-control"
                                   type="number"
                                   name="models"
                                   min="1"
                                   value="{{ company.preferences.models ?: old('models') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="modelsFileLimit">Максимальный размер файла 3D-модели
                            (МБ):</label>
                        <div class="col-sm-9">
                            <input id="modelsFileLimit"
                                   class="form-control"
                                   type="number"
                                   name="modelsFileLimit"
                                   min="1"
                                   value="{{ transform_mb(company.preferences.modelsFileLimit) ?: old('modelsFileLimit') ?: '' }}"/>
                        </div>
                    </div>
                    </br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="textures">Максимальное количество файлов текстур для
                            одной 3D-модели:</label>
                        <div class="col-sm-9">
                            <input id="textures"
                                   class="form-control"
                                   type="number"
                                   name="textures"
                                   min="1"
                                   value="{{ company.preferences.textures ?: old('textures') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="texturesFileLimit">Общий размер файлов текстур для
                            одной 3D-модели (МБ):</label>
                        <div class="col-sm-9">
                            <input id="texturesFileLimit"
                                   class="form-control"
                                   type="number"
                                   name="texturesFileLimit"
                                   min="1"
                                   value="{{ transform_mb(company.preferences.texturesFileLimit) ?: old('texturesFileLimit') ?: '' }}"/>
                        </div>
                    </div>
                    </br>
                    <div class="float-right">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default"
                                       href="{{ route('vrcci.companies.list') }}">
                                        К списку компаний
                                    </a>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-4 float-left js-import-form-submit">
                                    <button id="submit" name="submit" class="btn btn-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
