{% extends 'layouts/default' %}

{% set title =  'E-mail и сайты' %}
{% set nav_title = 'company-settings' %}
{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    {% if errors.any() %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}</ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            {% include('vrcci.companies::partial/company-navigation') %}
        </div>
        <div class="col-sm-6">
            <h3>{{ title }}</h3>
            <form class="form-horizontal"
                  action="{{ route('vrcci.company-settings.set', [company.guid]) }}"
                  method="post">
                <fieldset>
                    <div class="form-group">
                        <div class="js-import-form-error-block" style="display: none"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="companyEmail">E-mail</label>
                        <div class="col-sm-10">
                            <input id="companyEmail"
                                   class="form-control"
                                   placeholder="Электронный адрес"
                                   type="email"
                                   name="companyEmail"
                                   value="{{ settings.companyEmail ?: old('companyEmail') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="websiteLink">Ссылка на сайт</label>
                        <div class="col-sm-10">
                            <input id="websiteLink"
                                   class="form-control"
                                   placeholder="Ссылка на сайт"
                                   type="text"
                                   name="websiteLink"
                                   value="{{ settings.websiteLink ?: old('websiteLink') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="fbLink">Ссылка на Facebook</label>
                        <div class="col-sm-10">
                            <input id="fbLink"
                                   class="form-control"
                                   placeholder="Ссылка на Facebook"
                                   type="text"
                                   name="fbLink"
                                   value="{{ settings.fbLink ?: old('fbLink') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="instagramLink">Ссылка на Instagram</label>
                        <div class="col-sm-10">
                            <input id="instagramLink"
                                   class="form-control"
                                   placeholder="Ссылка на Instagram"
                                   type="text"
                                   name="instagramLink"
                                   value="{{ settings.instagramLink ?: old('instagramLink') ?: '' }}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="vkLink">Ссылка на VK</label>
                        <div class="col-sm-10">
                            <input id="vkLink"
                                   class="form-control"
                                   placeholder="Ссылка на VK"
                                   type="text"
                                   name="vkLink"
                                   value="{{ settings.vkLink ?: old('vkLink') ?: '' }}"/>
                        </div>
                    </div>
                    </br>
                    <div class="float-right">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default"
                                       href="{{ route('vrcci.companies.list') }}">
                                        К списку компаний
                                    </a>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-4 float-left js-import-form-submit">
                                    <button id="submit" name="submit" class="btn btn-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
