{% extends 'layouts/default' %}

{% set formRoute = feed ? route('vrcci.feed.update', [feed.guid]) : route('vrcci.feed.create') %}
{% set title = feed ?  'Редактировать новость' : 'Добавить новость' %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    {% if errors.any() %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}</ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6 offset-sm-1">
            <form class="form-horizontal"
                  action="{{ formRoute }}"
                  method="post">
                <fieldset>
                    <legend>{{ title }}</legend>
                    <div class="form-group">
                        <div class="js-import-form-error-block" style="display: none"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="title">Заголовок</label>
                        <div class="col-sm-10">
                            <input id="title"
                                   class="form-control"
                                   placeholder="Заголовок"
                                   type="text"
                                   name="title"
                                   value="{{ feed.title ?: old('title') ?: '' }}"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="description">Описание</label>
                        <div class="col-sm-10">
                            <textarea
                                    id="description"
                                    class="form-control"
                                    placeholder="Описание"
                                    name="description"
                                    rows="8">{{ feed.description ?: old('description') ?: '' }}</textarea>
                        </div>
                    </div>
                    <input id="company_guid"
                           class="form-control"
                           type="hidden"
                           name="company_guid"
                           value="{{ company.guid }}"/>
                    </br>
                    <div class="float-right">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default"
                                       href="{{ route('vrcci.feed.list',[company.guid]) }}">
                                        К списку новостей
                                    </a>
                                </div>
                            </div>
                            {% if(feed) %}
                                <div class="form-group ">
                                    <div class="col-md-4 float-left">
                                        <a href="{{ route('vrcci.feed.delete',[feed.guid]) }}"
                                           class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group ">
                                <div class="col-md-4 float-left js-import-form-submit">
                                    <button id="submit" name="submit" class="btn btn-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
