{% extends 'layouts/default' %}

{% block page_title %}
    Список новостей компании {{ company.title }}
{% endblock %}

{% block content %}

    {% set parsedUri = app.request.uri|split('?') %}
    {% set queryString = routeParams.queryString is empty ? '' : routeParams.queryString %}
    {% set nav_title = 'feed' %}

    {% include 'vendor.flash.message' %}
    {% if errors.any() %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}</ul>
        </div>
    {% endif %}
    <div class="row" style="margin-top: 10px">
        <div class="col-md-3">
            {% include('vrcci.companies::partial/company-navigation') %}
        </div>
        <div class="col-md-6">
            <h3>Новости</h3>
            <div>
                <div class="float-right form-group mb-3">
                    <a class="btn btn-sm btn-primary" href="{{ route('vrcci.feed.form',[company.guid]) }}">Добавить</a>
                </div>
                <div class="float-right form-group mb-3">
                    <a class="btn btn-default"
                       href="{{ route('vrcci.companies.list') }}">
                        К списку компаний
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            {% if (not feed | length > 0) %}
                <div class="alert alert-warning">
                    Новостей пока нет
                </div>
            {% else %}
                <div class="table table--sticky-header">
                    <table id="tablePreview" class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th width="60%" scope="col">Заголовок</th>
                            <th width="10%" scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for feedItem in feed %}
                            <tr class="js-mapping-element">
                                <td>
                                    {{ feedItem.title }}
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a href="{{ route('vrcci.feed.form',[company.guid,feedItem.guid]) }}"
                                           class="btn btn-secondary"
                                           data-toggle="tooltip" data-placement="right"
                                           title="Редактировать новость">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ route('vrcci.feed.delete',[feedItem.guid]) }}"
                                           class="btn btn-secondary"
                                           data-placement="right"
                                           title="Удалить новость">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    {{ feed.links()|raw }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
