{% extends 'layouts/default' %}

{% block page_title %}
    Пользователи системы
{% endblock %}

{% block content %}

    {% set parsedUri = app.request.uri|split('?') %}
    {% set queryString = routeParams.queryString is empty ? '' : routeParams.queryString %}

    <div class="row" style="margin-top: 10px">
        <div class="col-md-6 offset-md-2">
            <h3>Пользователи системы </h3>
            {% if (not users | length > 0) %}
                <div class="alert alert-warning">
                    Пользователей пока нет
                </div>
            {% else %}
                <div class="table table--sticky-header">
                    <table id="tablePreview" class="table table-hover table-bordered table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th width="30%" scope="col">Пользователь</th>
                            <th width="10%" scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="js-mapping-element">
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    <a href="#"
                                       class="btn btn-sm btn-secondary"
                                       data-toggle="tooltip"
                                       data-placement="right"
                                       title="Удалить новость">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    {{ users.links()|raw }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
