{% extends 'layout/default' %}

{% import 'macros/messages' as messages %}

{% block page_title %}
    Настройки профиля
{% endblock %}

{% block sidebar %}
    <ul class="nav tabs-vertical">
        <li class="nav-item">
            <a href="{{ route('user.profile') }}"
               class="settings-tab text-left nav-link active">
                Доступ
            </a>
        </li>
    </ul>
{% endblock %}

{% block settings %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center pb-2">
            <div>
                <h4 class="text-dark header-title content-title">
                    Изменение пароля
                </h4>
            </div>
        </div>
        {% include 'vendor.flash.message' %}
        <div class="clearfix mb-3"></div>
        
        <ax-form name="change-password-form" action="{{ route('user.profile.update.password') }}" method="POST">
            <div class="form-group">
                <ax-input mode="password" class="w-100 text-left" path="current_password" required>
                    Текущий пароль
                </ax-input>
                <ax-input mode="password" class="w-100 text-left" path="password" required>
                    Новый пароль
                </ax-input>
                <ax-input mode="password" class="w-100 text-left" path="password_confirmation" required>
                    Подтвердите пароль
                </ax-input>
            </div>
            <div class="d-flex form-group justify-content-end">
                <ax-form-button class="btn btn-sm btn-outline-primary w-lg" label="Изменить">
                    <span class="fa fa-refresh fa-spin"></span>
                </ax-form-button>
            </div>
        </ax-form>
    </div>
{% endblock %}
