/* Base */

body,
body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    box-sizing: border-box;
}

body {
    background-color: #f5f8fa;
    color: #74787e;
    height: 100%;
    hyphens: auto;
    line-height: 1.4;
    margin: 0;
    -moz-hyphens: auto;
    -ms-word-break: break-all;
    width: 100% !important;
    -webkit-hyphens: auto;
    -webkit-text-size-adjust: none;
    word-break: break-all;
    word-break: break-word;
}

p,
ul,
ol,
blockquote {
    line-height: 1.4;
    text-align: left;
}

a {
    color: #469bfe;
    text-decoration: none;
}

a img {
    border: none;
}

/* Typography */

h1 {
    color: #2f3133;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

h2 {
    color: #2f3133;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

h3 {
    color: #2f3133;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

p {
    color: #74787e;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    text-align: left;
}

p.sub {
    font-size: 12px;
}

img {
    max-width: 100%;
}

/* Layout */

.wrapper {
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

/* Header */

.header {
    padding: 25px 0;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.header a {
    color: #bbbfc3;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}

.header .logo {
    width: 65px;
    height: 46px;
    font-family: Helvetica;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #469bfe;
}

/* Body */

.body {
    background-color: #ffffff;
    border-bottom: 1px solid #edeff2;
    border-top: 1px solid #edeff2;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.inner-body {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    width: 600px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 570px;
}

/* Footer */

.footer {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 570px;
}

.footer p {
    color: #aeaeae;
    font-size: 12px;
    text-align: center;
}

/* Tables */

.table table {
    margin: 30px auto;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.table th {
    border-bottom: 1px solid #edeff2;
    padding-bottom: 8px;
    margin: 0;
}

.table td {
    color: #74787e;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
    margin: 0;
}

.content-cell {
    padding: 35px;
    text-align: center;
}

.content-cell .text {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 16px;
    color: #5c5c5c;
    margin: 5px;
    text-decoration: none;
}

.content-cell .headline {
    font-size: 25px;
}

.content-cell .wrapper {
    word-wrap: break-word;
}

.content-cell .btn {
    text-align: center;
    padding-top: 10px;
    width: 200px;
    height: 42px;
    background: #469bfe;
    border: 1px solid #86b6ed;
    box-shadow: 0px 2px 4px rgba(176, 176, 176, 0.5);
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 21px;
}

/* Buttons */

.action {
    margin: 30px auto;
    padding: 0;
    text-align: center;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.btn {
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    color: #fff;
    display: inline-block;
    text-decoration: none;
    -webkit-text-size-adjust: none;
}

.btn-primary {
    background-color: #3bafda;
    border-top: 10px solid #3bafda;
    border-right: 18px solid #3bafda;
    border-bottom: 10px solid #3bafda;
    border-left: 18px solid #3bafda;
}

.btn-success {
    background-color: #00b19d;
    border-top: 10px solid #00b19d;
    border-right: 18px solid #00b19d;
    border-bottom: 10px solid #00b19d;
    border-left: 18px solid #00b19d;
}

.btn-danger {
    background-color: #ef5350;
    border-top: 10px solid #ef5350;
    border-right: 18px solid #ef5350;
    border-bottom: 10px solid #ef5350;
    border-left: 18px solid #ef5350;
}

/* Panels */

.panel {
    margin: 0 0 21px;
}

.panel-content {
    background-color: #edeff2;
    padding: 16px;
}

.panel-item {
    padding: 0;
}

.panel-item p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Promotions */

.promotion {
    background-color: #ffffff;
    border: 2px dashed #9ba2ab;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 24px;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.promotion h1 {
    text-align: center;
}

.promotion p {
    font-size: 15px;
    text-align: center;
}

.text-muted {
    color: #98a6ad !important;
}
