{% block top_nav %}
    <ul class="navigation-menu">
        {% if (Auth.check()) %}
            <li class="mx-4">
            </li>
            {% import 'macros/username' as username %}
            <li class="has-submenu last-elements">
                <a href v-on:click.prevent>
                    <b>{{ username.username(Auth.user) }}</b>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{{ route('sales.upload.form') }}">
                            <span class="fa fa-file-excel-o text-muted font-16 menu-icon"></span>
                            Импортировать файл
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('sales.data.filter') }}">
                            <span class="fa fa-line-chart text-muted font-16 menu-icon"></span>
                            Данные об отгузке и продаже
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('sales.client.list') }}">
                            <span class="fa fa-university text-muted font-16 menu-icon"></span>
                            Список контагентов
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('sales.sku.list') }}">
                            <span class="fa fa-money text-muted font-16 menu-icon"></span>
                            Список SKU
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="fa fa-cogs text-muted font-16 menu-icon"></span>
                            Настройки профиля
                        </a>
                    </li>
                    <li>
                        <a class="text-danger" href="{{ route('logout') }}">
                            <span class="fa fa-sign-out text-muted font-16 menu-icon"></span>
                            Выйти
                        </a>
                    </li>
                </ul>
            </li>

        {% endif %}
    </ul>
    </br>
{% endblock %}
