{% block top_nav %}
    <ul class="navigation-menu">
        {% if (Auth.check()) %}
            {% import 'macros/username' as username %}
            <li class="has-submenu last-elements">
                <a href v-on:click.prevent>
                    <b>{{ username.username(Auth.user) }}</b>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{{ route('user.profile') }}">
                            <span class="fa fa-cogs text-muted font-16 menu-icon"></span>
                            Настройки профиля
                        </a>
                    </li>
                    <li>
                        <a class="text-danger" href="{{ route('logout') }}">
                            <span class="fa fa-sign-out text-muted font-16 menu-icon"></span>
                            Выйти
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
{% endblock %}
