<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ route('vrcci.companies.list') }}">Виртуальная ТПП</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            {% for item in menu %}
                {% if item.hasChildren %}
                    <li class="nav-item dropdown {% if item.isActive %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="menuItem{{ loop.index }}" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="{{ item.attributes.iconClass }}"></span>
                            {{ item.title }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for subItem in item.children %}
                                <a  href="{{ subItem.url }}" class="dropdown-item" href="#">
                                    <span class="{{ subItem.attributes.iconClass }}"></span> {{ subItem.title }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {% if item.isActive %}active{% endif %}">
                        <a class="nav-link" href="{{ item.url }}"><span class="{{ item.attributes.iconClass }}"></span>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="navbar-nav">
            {% if (Auth.check()) %}
                {% import 'macros/username' as username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                        id="menuProfileDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ username.username(Auth.user) }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuProfileDropdown">
                        <a class="dropdown-item" href="{{ route('logout') }}">Выйти</a>
                    </div>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
