{% extends 'layouts/guest' %}

{% block page_title %}
    VRCCI
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mt-5 col col-sm-6">
                <form class="form-signin" method="post" action="/login">
                    <div class="text-center">
                        <h1 class="h3 mb-3 font-weight-normal">Виртуальная ТПП</h1>
                    </div>

                    {% if loginFailed is defined and loginFailed == true %}
                        <div class="alert alert-danger" role="alert">
                            Неправильный логин или пароль
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required="required" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Пароль</label>
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Пароль" required="required">
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me">
                            Запомнить меня
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block form %}
    <form class="ant-form ant-form-horizontal" method="post" action="/login">
        <div class="ant-row ant-form-item">
            <div class="ant-form-item-label">
                <label for="email" class="ant-form-item-required" title="Username">Еmail</label>
            </div>
            <div class="ant-form-item-control-wrapper">
                <div class="ant-form-item-control has-success">
                    <span class="ant-form-item-children">
                        <span class="ant-input-affix-wrapper">
                            <span class="ant-input-prefix">
                                <i class="anticon anticon-user" style="color: rgba(0, 0, 0, 0.25);"></i>
                            </span>
                            <input type="text" placeholder="Email" name="email" class="ant-input">
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="ant-row ant-form-item">
            <div class="ant-form-item-label">
                <label for="password" class="ant-form-item-required" title="Password">Пароль</label>
            </div>
            <div class="ant-form-item-control-wrapper">
                <div class="ant-form-item-control has-success">
                    <span class="ant-form-item-children">
                        <span class="ant-input-affix-wrapper">
                            <span class="ant-input-prefix">
                                <i class="anticon anticon-lock" style="color: rgba(0, 0, 0, 0.25);"></i>
                            </span>
                            <input type="password" placeholder="Password" name="password" class="ant-input">
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="ant-row ant-form-item">
            <div class="ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                    <span class="ant-form-item-children">
                        <button type="submit" class="ant-btn ant-btn-primary">
                            <span>Войти</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
