{% extends 'mail/layouts/default' %}

{% block content %}
    <span class="text">
        <b>{{ trans('registration-mail.welcome') }}</b>
        <a href="{{ config('app.url') }}">wts.axmit.com</a>!
    </span>
    <br/>
    <br/>
    <span class="headline">
        {{ trans('registration-mail.headline-text-one') }}
    </span>
    <br/>
    <span class="headline">
        {{ trans('registration-mail.headline-text-two') }}
    </span>
    <br/>
    <br/>

    <a href="{{ config('app.url') }}" class="btn">{{ trans('registration-mail.link-text') }}</a>
    <br/>
    <br/>
    <span class="text">
        {{ trans('registration-mail.footer-text') }} {{ config('app.name') }}!
    </span>
{% endblock %}
