{% extends 'mail/layouts/default' %}

{% block content %}
    <h1>{{ trans('reset-pass-mail.hello') }}</h1>

    <p>
        {{ trans('reset-pass-mail.p1-text-on-site') }}
        <a href="{{ config('app.url') }}">wts.axmit.com</a> {{ trans('reset-pass-mail.p1-text-was-made') }}
        {{ trans('reset-pass-mail.p1-text-to-change-pass') }}
    </p>
    <p>{{ trans('reset-pass-mail.p2-text') }}</p>

    <br/>

    <a href="{{ url }}" class="btn">
        {{ trans('reset-pass-mail.btn1-text') }}
    </a>

    <br/>
    <br/>

    <p>{{ trans('reset-pass-mail.p3-text-link') }}</p>
    <p>
        <a href="{{ url }}">
            {{ url }}
        </a>
    </p>
    <br/>

    <p>
        {{ trans('reset-pass-mail.p4-text') }} <b>{{ trans('reset-pass-mail.p4-text-time') }}</b>
    </p>

    <p>
        {{ trans('reset-pass-mail.p5-text') }}
    </p>
    <br/>
    <p>{{ trans('reset-pass-mail.footer-text') }} {{ config('app.name') }}!</p>
{% endblock %}
