{% extends 'layouts/guest' %}

{% import 'macros/forms' as forms %}

{% block content %}
    <div class="wrapper-page mb-0">
        {% include 'vendor.flash.message' %}
        <div class="text-center">
            <span class="logo-lg">
                <i class="fa fa-line-chart"></i>
                Виртуальная ТПП
            </span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center bs-callout-primary mb-1">
            <i class="fa fa-envelope-open-o fa-3x mr-3"></i>
            <div class="text-dark mb-0">
                <h4>Проверьте почту!</h4>
                <p class="font-14">
                    На Вашу почту было отправлено письмо с дальнейшими инструкциями <br> по восстановления доступа к аккаунту.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
