{% extends 'layouts/guest' %}

{% import 'macros/forms' as forms %}

{% block content %}
    <div class="wrapper-page">
        {% include 'vendor.flash.message' %}
        <div class="text-center">
            <span class="logo-lg">
                <i class="fa fa-line-chart"></i>
                Виртуальная ТПП
            </span>
        </div>
        <div class="form-horizontal m-t-20">
            <ax-form name="reset-password" action="{{ route('password.request.submit', {'token': token}) }}"
                     method="POST">
                <ax-input path="email" mode="email" placeholder="Email" required autofocus inline-template>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text justify-content-center" style="width: 2.5rem;">
                                            <i class="fa fa-at"></i>
                                        </span>
                                </div>
                                <input class="form-control" type="email" required placeholder="Email"
                                       v-bind:type="mode"
                                       v-bind:name="name"
                                       v-bind:id="elementId"
                                       v-bind:disabled="isPending"
                                       v-bind:placeholder="placeholder"
                                       v-on:focus="rememberPrevious()"
                                       v-model="elementValue">
                            </div>
                        </div>
                        <div class="col-12" v-if="hasMessage">
                            <small v-text="elementMessage" class="form-text invalid-feedback"></small>
                        </div>
                    </div>
                </ax-input>
                <div class="row form-group m-t-20 text-right">
                    <div class="col-12">
                        <ax-form-button class="btn btn-primary btn-custom w-md waves-effect waves-light w-lg"
                                        label="Отправить запрос">
                            <span class="fa fa-refresh fa-spin"></span>
                        </ax-form-button>
                    </div>
                </div>
            </ax-form>
        </div>
    </div>
{% endblock %}
