{% extends 'layouts/guest' %}

{% import 'macros/forms' as forms %}

{% block content %}
    <div class="wrapper-page">
        <div class="text-center">
            <span class="logo-lg">
                <i class="fa fa-line-chart"></i>
                Виртуальная ТПП
            </span>
        </div>
        <div class="form-horizontal m-t-20">
            <ax-form name="reset-password" action="{{ route('password.reset.submit', {'token': token}) }}"
                     method="POST">
                {{ forms.input('token', old('token', token), 'hidden') }}
                <div class="form-group">
                    <div style="display:flex">
                    <span class="input-group-text justify-content-center" style="width: 2.5rem;height: 32px;">
                                    <i class="fa fa-envelope"></i>
                                </span>
                        <ax-input class="w-100 text-left" path="email" required placeholder="Email">
                        </ax-input>
                    </div>
                    <div style="display:flex">
                    <span class="input-group-text justify-content-center" style="width: 2.5rem;height: 32px;">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <ax-input mode="password" class="w-100 text-left" path="password" required placeholder="Пароль">
                        </ax-input>
                    </div>
                    <div style="display:flex">
                    <span class="input-group-text justify-content-center" style="width: 2.5rem;height: 32px;">
                                    <i class="fa fa-lock"></i>
                                </span>
                        <ax-input mode="password" class="w-100 text-left" path="password_confirmation" required
                                  placeholder="Повторите пароль">
                        </ax-input>
                    </div>
                </div>
                <div class="d-flex form-group justify-content-end">
                    <ax-form-button class="btn btn-primary btn-custom w-md waves-effect waves-light"
                                    label="Сохранить пароль">
                        <span class="fa fa-refresh fa-spin"></span>
                    </ax-form-button>
                </div>
            </ax-form>

        </div>
    </div>
{% endblock %}
