{% block form %}
    <div class="list-group">
        <a class="list-group-item list-group-item-light  {{ nav_title == '3dmodel' ? 'active' : '' }}"
           aria-pressed="true"
           href="{{ route('vrcci.stand-model.list', [company.guid]) }}">ЗD-модели
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'spheres360' ? 'active' : '' }}"
           href="{{ route('vrcci.sphere360.list', [company.guid]) }}">Фото 360
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'certificates' ? 'active' : '' }}"
           href="{{ route('vrcci.certificate.list', [company.guid]) }}">Грамоты/Награды
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'feed' ? 'active' : '' }}"
           href="{{ route('vrcci.feed.list', [company.guid]) }}">Новости
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'presentations' ? 'active' : '' }}"
           href="{{ route('vrcci.presentation.list', [company.guid]) }}">Презентации
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'company-settings' ? 'active' : '' }}"
           href="{{ route('vrcci.company-settings.get',[company.guid]) }}">E-mail и сайты
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'excursions' ? 'active' : '' }}"
           href="{{ route('vrcci.excursion.list', [company.guid]) }}">Экскурсия
        </a>
        <a class="list-group-item list-group-item-light {{ nav_title == 'bm-link' ? 'active' : '' }}"
           href="{{ route('vrcci.company-bmlink.get',[company.guid]) }}">Бизнес-маркет
        </a>
    </div>
{% endblock %}
