{% extends 'layouts/base' %}

{% block head_meta %}
    <link rel="stylesheet" href="{{ mix('/css/app.css') }}">
    <script src="{{ mix('/js/manifest.js') }}" defer></script>
    <script src="{{ mix('/js/vendor.js') }}" defer></script>
    <script src="{{ mix('/js/app.js') }}" defer></script>
{% endblock %}

{% block body_attributes %}
    id="app"
{% endblock %}

{% block body %}
    <notifications group="notification-default" position="top center" classes="notification"></notifications>

    <header id="topnav">
        {% include 'blocks/nav/top-menu' with {'menu': menu('top-menu').roots()} %}
    </header>

    <div class="wrapper">
        <div class="row">
{#            <div class="col-md-2 bg-dark">#}
{#                {% include 'blocks/sidebar/sidebar-menu' %}#}
{#            </div>#}
            <div class="col-md-10 offset-md-1">
                <main class="mx-3 mt-3">
                    {{ block('content') }}
                </main>
            </div>
        </div>
    </div>
{% endblock %}


{% block body_scripts %}
{% endblock %}
