{% extends 'layouts/default' %}

{% set formRoute = route('vrcci.stand-model.update', [standModel.guid]) %}
{% set title = 'Редактировать 3D-модель' %}
{% set nav_title = '3dmodel' %}
{% set textures_limit = standModel.company.preferences.textures %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'vendor.flash.message' %}
    {% if errors.any() %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}</ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            {% include('vrcci.companies::partial/company-navigation') %}
        </div>
        <div class="col-sm-6">
            <form class="form-horizontal"
                  action="{{ formRoute }}"
                  method="post"
                  enctype="multipart/form-data"
            >
                <fieldset>
                    <legend>{{ title }}</legend>
                    <div class="form-group">
                        <div class="js-import-form-error-block" style="display: none"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="title">Файл 3D-модели</label>
                        <div class="col-sm-10">
                            <div class="input-group js-form-group">
                                <input type="text"
                                       class="form-control js-filename-input"
                                       disabled="disabled"
                                       id="filename"
                                       name="filename"
                                       size="80"
                                       value="{{ standModel.modelFile.filename ?: '' }}"
                                       placeholder="Выберите файл..."/>
                                <input type="text"
                                       id="js-input-guid-index"
                                       name="model_indexes[]"
                                       class="js-input-guid-index"
                                       value="{{ standModel.modelFile.guid  ?: '' }}"
                                       hidden>
                                <input type="file"
                                       id="model_file"
                                       name="model_file"
                                       class="js-file-input"
                                       hidden
                                />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary js-file-button"
                                            type="button"
                                            data-toggle="tooltip" data-placement="right"
                                            title="Загрузить файл">Обзор
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="js-textures-container">
                        <div class="form-group row js-texture-input-box js-first-texture-box">
                            <label class="col-form-label col-sm-2" for="title">Файлы текстур</label>
                            <div class="col-sm-10 mb-3">
                                <div class="input-group js-form-group">
                                    <input type="text"
                                           class="form-control js-filename-input"
                                           disabled="disabled"
                                           id="filename"
                                           name="filename"
                                           size="80"
                                           value="{{ standModel.textures[0].filename ?: '' }}"
                                           placeholder="Выберите файл..."/>
                                    <input type="text"
                                           id="js-input-guid-index"
                                           name="texture_indexes[]"
                                           class="js-input-guid-index"
                                           value="{{ standModel.textures[0].guid  ?: '' }}"
                                           hidden>
                                    <input type="file"
                                           id="file"
                                           name="textures[]"
                                           class="js-file-input"
                                           accept="image/png"
                                           hidden
                                    />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary js-file-button"
                                                type="button"
                                                data-toggle="tooltip" data-placement="right"
                                                title="Загрузить файл">Обзор
                                        </button>
                                    </div>

                                    <button class="btn btn-primary ml-3 js-add-textures-button"
                                            type="button"
                                            data-toggle="tooltip" data-placement="right"
                                            data-textures-limit="{{ textures_limit }}"
                                            title="Добавить файл"
                                            {% if standModel.textures|length >= textures_limit %}
                                                style="display: none;"
                                            {% endif %}
                                    >
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for texture in standModel.textures[1:length] %}
                        <div class="form-group row js-texture-input-box">
                            <div class="col-sm-10 offset-sm-2 mb-3">
                                <div class="input-group js-form-group">
                                    <input type="text"
                                           class="form-control js-filename-input"
                                           disabled="disabled"
                                           id="filename"
                                           name="filename"
                                           size="80"
                                           value="{{ texture.filename }}"
                                           placeholder="Выберите файл..."/>
                                    <input type="text"
                                           id="js-input-guid-index"
                                           name="texture_indexes[]"
                                           class="js-input-guid-index"
                                           accept="image/png"
                                           value="{{ texture.guid  ?: '' }}"
                                           hidden>
                                    <input type="file"
                                           id="file"
                                           name="textures[]"
                                           class="js-file-input"
                                           accept="image/png"
                                           hidden
                                    />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary js-file-button"
                                                type="button"
                                                data-toggle="tooltip" data-placement="right"
                                                title="Загрузить файл">Обзор
                                        </button>
                                        <button class="btn btn-outline-secondary js-remove-textures-button"
                                                type="button"
                                                data-toggle="tooltip"
                                                data-placement="right"
                                                title="Удалить файл">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="description">Описание</label>
                        <div class="col-sm-10">
                            <textarea
                                    id="description"
                                    class="form-control"
                                    placeholder="Описание"
                                    name="description"
                                    rows="5">{{ standModel.description }}</textarea>
                        </div>
                    </div>
                    <input id="company_guid"
                           class="form-control"
                           type="hidden"
                           name="company_guid"
                           value="{{ company.guid }}"/>
                    </br>
                    <div class="float-right">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-default"
                                       href="{{ route('vrcci.stand-model.list',[company.guid]) }}">
                                        К списку моделей
                                    </a>
                                </div>
                            </div>
                            {% if(standModel) %}
                                <div class="form-group ">
                                    <div class="col-md-4 float-left">
                                        <a href="{{ route('vrcci.stand-model.delete',[standModel.guid]) }}"
                                           class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group ">
                                <div class="col-md-4 float-left js-import-form-submit">
                                    <button id="submit" name="submit" class="btn btn-primary">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% raw %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            (function () {
                const fileUploadingManager = (function () {
                    var selectors = {
                        jsFileInput: '.js-file-input',
                        jsFileButton: '.js-file-button',
                        jsFileForm: '.js-file-form',
                        jsFileGroup: '.js-form-group',
                        jsFilenameInput: '.js-filename-input',
                        jsTextureInput: '.js-texture-input-box',
                        jsTexturesContainer: '.js-textures-container',
                        jsAddTexturesButton: '.js-add-textures-button',
                        jsRemoveTextureButton: '.js-remove-textures-button',
                        jsInputGuidIndex: '.js-input-guid-index',
                        jsFirstTextureBox: '.js-first-texture-box'
                    };

                    function doUpload(event) {
                        $(event.target)
                            .closest(selectors.jsFileGroup)
                            .find(selectors.jsFileInput).click()
                    }

                    function addFilenameToInput(event) {
                        $(event.target)
                            .closest(selectors.jsFileGroup)
                            .find(selectors.jsFilenameInput)
                            .val(event.target.files.length ? event.target.files[0].name : '');

                        $(event.target)
                            .closest(selectors.jsFileGroup)
                            .find(selectors.jsInputGuidIndex)
                            .remove()
                    }

                    function canCreateTexture() {
                        var canCreate = true;
                        $(selectors.jsTextureInput).each(function (element) {
                            if (!$(this).find(selectors.jsFilenameInput).val()) {
                                canCreate = false
                            }
                        });

                        return canCreate;
                    }

                    function removeTextureInput(event) {
                        var parent = $(event.target).closest(selectors.jsTextureInput);

                        if (parent.prop('classList').contains(selectors.jsFirstTextureBox.substr(1))) {
                            parent.find(selectors.jsFilenameInput).val('');
                            parent.find(selectors.jsInputGuidIndex).remove();

                            return;
                        }

                        $(selectors.jsAddTexturesButton).show();
                        parent.remove();
                    }

                    function addTextureInput(event) {
                        if (!canCreateTexture()) {
                            return;
                        }

                        var limit = $(selectors.jsAddTexturesButton).attr('data-textures-limit');
                        if ($(selectors.jsTextureInput).size() >= limit - 1) {
                            $(selectors.jsAddTexturesButton).hide();
                        }

                        $(selectors.jsTexturesContainer).append(textureInput())
                    }

                    function textureInput() {
                        return (
                            `<div class="form-group row js-texture-input-box">
                                <div class="col-sm-10 offset-sm-2 mb-3">
                                    <div class="input-group js-form-group">
                                        <input type="text"
                                               class="form-control js-filename-input"
                                               disabled="disabled"
                                               id="filename"
                                               name="filename"
                                               size="80"
                                               placeholder="Выберите файл..."/>
                                        <input type="file"
                                               id="file"
                                               name="textures[]"
                                               class="js-file-input"
                                               accept="image/png"
                                               hidden
                                        />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary js-file-button"
                                                    type="button"
                                                    data-toggle="tooltip" data-placement="right"
                                                    title="Загрузить файл">Обзор
                                            </button>
                                            <button class="btn btn-outline-secondary js-remove-textures-button"
                                                type="button"
                                                data-toggle="tooltip"
                                                data-placement="right"
                                                title="Удалить файл">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                        )
                    }

                    return {
                        init: function () {
                            $(document.body).on('click', selectors.jsFileButton, function (event) {
                                doUpload(event)
                            });
                            $(document.body).on('change', selectors.jsFileInput, function (event) {
                                addFilenameToInput(event)
                            });
                            $(document.body).on('click', selectors.jsAddTexturesButton, function (event) {
                                addTextureInput(event)
                            });
                            $(document.body).on('click', selectors.jsRemoveTextureButton, function (event) {
                                removeTextureInput(event)
                            })
                        }
                    }
                })();
                $(document).ready(function () {
                    fileUploadingManager.init();
                });
            })();
        </script>
    {% endraw %}
{% endblock %}
