{% extends 'layouts/default' %}

{% block page_title %}
    Список моделей {{ company.title }}
{% endblock %}

{% block content %}

    {% set parsedUri = app.request.uri|split('?') %}
    {% set queryString = routeParams.queryString is empty ? '' : routeParams.queryString %}
    {% set nav_title = '3dmodel' %}
    {% set model_limit = company.preferences.models %}

    {% if session_get('message') %}
        <div class="alert alert-{{ session_get('message.class') }}">
            <a href="#close" class="close" data-dismiss="alert">&times;</a>
            {{ session_get('message.content') }}
        </div>
    {% endif %}
    <div class="row" style="margin-top: 10px">
        <div class="col-md-3">
            {% include('vrcci.companies::partial/company-navigation') %}
        </div>
        <div class="col-md-6">
            <h3>3D-модели</h3>
            {% if (standModels | length < model_limit) %}
            <div class="float-right form-group mb-3">
                <a class="btn btn-sm btn-primary" href="{{ route('vrcci.stand-model.create-form',[company.guid]) }}">Добавить</a>
            </div>
            {% endif %}
            <div class="float-right form-group mb-3">
                <a class="btn btn-default"
                   href="{{ route('vrcci.companies.list') }}">
                    К списку компаний
                </a>
            </div>
            </br>
            </br>
            {% if (not standModels | length > 0) %}
                <div class="alert alert-warning">
                    3D-моделей пока нет
                </div>
            {% else %}
                <div class="table table--sticky-header">
                    <table id="tablePreview" class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th width="60%" scope="col">Имя 3D-модели</th>
                            <th width="10%" scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for standModel in standModels %}
                            <tr class="js-mapping-element">
                                <td>
                                    {{ standModel.modelFile.filename }}
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a href="{{ route('vrcci.stand-model.update-form',[company.guid,standModel.guid]) }}"
                                           class="btn btn-secondary"
                                           data-toggle="tooltip" data-placement="right"
                                           title="Редактировать 3D-модель">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ route('vrcci.stand-model.delete',[standModel.guid]) }}"
                                           class="btn btn-secondary"
                                           data-toggle="tooltip"
                                           data-placement="right"
                                           title="Удалить 3D-модель">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
